<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width,initial-scale=1" />
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TenkiAme</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-yellow border-bottom box-shadow mb-3">
            <div class="contain-inner container-content container align-start">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TenkiAme</a>
            </div>
            <div class="vl-red"></div>
            <div class="vl-white"></div>
            <div class="vl-blue"></div>
            <div class="vl-green"></div>
            <div class="vl-orange"></div>
            <div class="vl-turquoise"></div>
            <div class="vl-gold"></div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 margin-left margin-right">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>&copy; 2024 - TenkiAme - Weather data provided by MetOcean API. Twilight data provided by <a href="https://sunrisesunset.io/api/" target="SunriseSunset"> SunriseSunset.io</a>. Twilight icons created by iconixar from <a href="https://www.flaticon.com/free-icons/dawn" title="twilight icons" target="flaticon">Flaticon.com</a></p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>