@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TenkiAme.Models.WeatherModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home View Index</h2>

<p>Home View Hello.</p>
<p>@Model.WeatherVariables.GetValueOrDefault("air.temperature.at-2m").ToString()</p>