@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TenkiAme.Models.WeatherModel
@{
    ViewData["Title"] = "TenkiAme ";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@* <p>@foreach (var i in Model.WeatherVariables["air.temperature.at-2m"].Data)
    {
        <p>@(i.Value-273.15).ToString()</p>
    }
</p> *@
<style>
    div {
        background: #767775;
        flex-basis: 100%;
        height: 100px;
        margin-bottom: 0.5rem;
    }
</style>
<p style="white-space:break-spaces;">
    @foreach (var day in Model.WeatherDays)
    {
        <div>
            <p>
                @day.PrintToPage()
                @foreach (var hour in day.WeatherHours)
                {
                    <p>@hour.PrintToPage()</p>
                }
            </p>
        </div>
    }
</p>