html {
  font-size: 14px;
}

div{
    display: flex;
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }

    main {
        flex-wrap: nowrap;
    }

    .Container-inner {
        max-width: 64rem;
    }
}

.container-inner {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
}

.container-content {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1260px;
}



body {
    margin-bottom: 60px;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 3rem;
    font-family: 'Century Schoolbook';
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 1);
}

@media (min-width: 768px){
    .align-start {
        align-items: flex-start !important;
    }
}

@media (min-width: 768px){
    .grid{
        display: grid;
    }

    .grid-cols-3{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    
    .grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.vl {
    border-left: 6px solid red;
    height: auto;
}

.flex-grow{
    flex-grow: 1;
}

.flex-row{
   flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

@media (min-width: 1400px){
    .md-full-wid{
        max-width: 1320px;
    }
}

@media (min-width: 768px) {
  .md-half-wid {
    width: 50%;
  }
}

.wid-full{
    width: 100%;
}

.min-w-18r{
    min-width: 18rem;
}

.border-line {
    border-width: 1px; 
}

.rounded-border-xl{
    border-radius: 1rem;
}

.border-shadow {
    box-shadow:0 0 0 0.25rem #258cfb;
}

.relative-posn {
    position: relative;
}

.justify-between {
    justify-content: space-between;
}

.justify-centre{
    justify-content: center;
}

.text-centre{
    text-align: center;
}

.align-vertical-centre{
    align-items: center;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-auto{
    overflow: auto;
}

.gap-1r{
    gap: 1rem;
}

.bg-white {
    --bs-bg-opacity: 1;
    background-color: b !important;
}

.bg-yellow {
    --bs-bg-opacity: 1;
    background-color: rgba(255,229,44,var(--bs-bg-opacity)) !important;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.margin-right{
    margin-right: 1rem;
}

.margin-left{
    margin-left: 1rem;
}

.padding-left-none{
    padding-left: 0;
}

.padding-left{
    padding-left: 1rem;
}

.padding-right{
    padding-right: 1rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.font-small{
    font-size: 0.875rem;
}

.font-medium{
    font-size: 1.25;
}

.font-large {
    font-size: 3em;
}

.font-xlarge {
    font-size: 6em;
}


.font-bold{
    font-weight: bold;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-700{
    font-weight: 700;
}

.no-wrap{
    white-space: nowrap;
}


.list-style-none{
    list-style: none;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.grid-item-a {
    grid-area: header;
}

.grid-item-b {
    grid-area: main;
}

.grid-item-c {
    grid-area: sidebar;
}

.grid-item-d {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main . sidebar"
        "footer footer footer footer";
}

.block{
    display: block;
}

.inline-block{
    display: inline-block;
}

.width-hour{
    width:50px;
}