@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy for TenkiAme";
}
<h2>@ViewData["Title"]</h2>
<p>Effective Date: @ViewData["TimeStamp"]</p>
<h3>Introduction</h3>
<p>Welcome to TenkiAme! Tenki for short. This Privacy Policy is designed to inform you about the types of information we may collect, how we use that information, and the choices you have regarding your information.</p>
<h3>Information I Collect</h3>
<p>None!</p>
<h3>How I Use Your Information</h3>
<p>I don't! It would be weird if I did.</p>
<h3>Third-Party Services</h3>
<p>We may use third-party services to improve our app's functionality. These services may have their own privacy policies that you should review.</p>
<h3>Changes to this Privacy Policy</h3>
<p>This Privacy Policy is unlikely to change because it's pretty solid!</p>
